<div class="form-container">
  <h2>Create Account</h2>

  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
  <input type="email" [(ngModel)]="email" name="email" required class="form-control" placeholder="Enter your email">
  <input type="password" [(ngModel)]="password" name="password" required class="form-control" placeholder="Enter your password">
  
  <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required class="form-control" placeholder="Confirm your password">
  
  <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Sign Up</button>
  
  <!-- Link to Log In page -->
  <div class="text-center">
    <p>Already have an account? <a routerLink="/login">Log in here</a></p>
  </div>
</form>

</div>
